jsonschema[format]==4.26.0
types-jsonschema>=4.26.0.20260518
requests==2.34.2
ruff>=0.16.3
pytest>=9.1.1
pytest-cov>=7.1.0
pytest-xdist>=3.8.0
mypy>=2.3.0
radon>=6.0.1
deptry>=0.25.1
bandit>=1.7
loguru>=0.7.3
PyYAML>=6.0.3
